<div class="wrapper">
  <div class="logo">
    <a routerLink="">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9D11PXnpUJBP8oIwsoU1hc7ENcslnqFEVyGoPvxLUIA&s" alt="CIVIL LOGO">
    </a> 
    </div>
  <div class="text-center mt-4 name" >
    {{title}}
  </div>
  <form class="p-3 mt-3">
      <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input type="text" name="userName" id="userName" placeholder="Username" [(ngModel)]="UserName">
      </div>
      <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="password" name="password" id="pwd" placeholder="Password" [(ngModel)]="password">
      </div>
      <p class="text-danger">{{ErrMsg}}</p>
      <button class="btn mt-3" (click)="Login()">Login</button>
  </form>
  <div class="text-center fs-6">
      <a href="#">Forget password?</a> or <a href="#">Sign up</a>
  </div>
</div>